div {
    width: 25vw;
    height: 30vh;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

input, select, button {
    padding: 0.5rem;
    font-size: 1.3rem;
}

p, span {
    font-size: 1.3rem;
}
